<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
    </head>
    <body>
       
        
      <img src=
     "<%= poke.img %>"
     alt=" Broken ">
        <h3>
            <%= poke.name %>
        </h3>

        <ul>
                <li>
                   Type: <%=poke.type%>
                </li>
                <li>
                    HP: <%=poke.stats.hp%>
                 </li>
                 <li>
                    Attack: <%=poke.stats.attack%>
                 </li>
                 <li>
                    Defense: <%=poke.stats.defense%>
                 </li>
        </ul>

        <a href="/">Back to Pokedex</a><br>

    </body>
</html>